/* about-header */
.sec-header-wrap {
  position: absolute;
  width: 100%;
}

/* about-banner */
.about-Banner-section {
  position: relative;
  /* background-image: url(..//img/about-us/about-us-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-Banner-section .about-Banner-dec {
  text-align: center;
}

.about-Banner-section .about-Banner-dec h2 {
  color: #070330;
  font-family: ProductSans-Bold;
  font-size: 54px;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

.about-Banner-section .about-Banner-dec h2 span {
  color: #3626f1;
}

.about-Banner-section .about-Banner-dec p {
  color: #261335;
  font-size: 22px;
  line-height: 28px;
  width: 80%;
  margin: 30px auto 0px;
}

.about-Banner-section #scroll-down-animation {
  bottom: 0px;
}

/* about-delivery */
.about-delivery {
  padding: 60px 0px;
}

.about-delivery .about-delivery-dec {
  width: 90%;
}

.about-delivery .about-delivery-dec h1 {
  color: #070330;
  font-family: Cambon-SemiBold;
  font-size: 48px;
  margin-bottom: 14px;

  display: inline-block;
  z-index: 9;
}

.about-delivery .about-delivery-dec h1 span {
  position: relative;
  color: #3626f1;
}

.about-delivery .about-delivery-dec h1 span::after {
  content: "";
  position: absolute;
  background-image: url(..//img/text-underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: -12px;
  bottom: -45px;
  width: 160px;
  height: 100%;
  z-index: -1;
}

.about-delivery .about-delivery-dec p {
  color: #534064;
  font-size: 18px;
  margin-bottom: 0px;
}

.about-delivery .about-delivery-video {
  display: contents;
}

/* business-services */
.business-services {
  padding: 60px 0px;
}

.business-services .wrapper-shipping {
  padding-top: 60px;
}

.business-services .wrapper-shipping .wrapper-shipping-box {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 70px 100px 0px rgba(25, 4, 99, 0.13);
  padding: 30px;
}

.business-services .wrapper-shipping .wrapper-shipping-box h3 {
  color: #050020;
  font-size: 26px;
  font-family: ProductSans-Bold;
  margin-top: 20px;
  margin-bottom: 14px;
}

.business-services .wrapper-shipping .wrapper-shipping-box ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 28px;
  min-height: 124px;
  padding-left: 0px;
  list-style: none;
}

.business-services .wrapper-shipping .wrapper-shipping-box ul li {
  color: #8f8f8f;
  font-size: 18px;
  padding-left: 32px;
  position: relative;
}

.business-services .wrapper-shipping .wrapper-shipping-box ul li::after {
  background: url(..//img/tickBlue.svg) no-repeat 50% / contain;
  content: "";
  display: block;
  height: 20px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.business-services .wrapper-shipping .wrapper-shipping-box a {
  color: #3626f1;
  font-size: 18px;
  font-family: ProductSans-Bold;
}

/* new css */
.wrapper-title {
  margin-bottom: 20px;
}

section.experience {
  padding: 100px 0;
}

ul.expe_detail {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 50px;
}

ul.expe_detail li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.expe_newhead {
  margin-left: 20px;
}

.expe_newhead h4 {
  color: #050020;
  font-size: 26px;
  font-family: ProductSans-Bold;
  margin-top: 0px;
  margin-bottom: 6px;
}

.expe_newhead p {
  margin-bottom: 0;
}

.readmore_btn.text-center {
  margin: 50px 0px 0;
}

.readmore_btn.text-center a {
  border: 2px solid #3726f1a3;
  background-color: #3726f1;
  padding: 14px 40px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: normal;
  transition: all 0.5s;
}

section.team-section.new_team {
  padding-bottom: 100px;
}

.readmore_btn.text-center a:hover {
  background: #ffffff;
  color: #3726f1;
  transition: all 0.5s;
  border: 2px solid #3626f1;
}

.learn_more a {
  border: 2px solid #3726f1a3;
  padding: 14px 40px;
  border-radius: 30px;
  color: #000000bc;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: normal;
  transition: all 0.5s;
}

.learn_more a:hover {
  background: black;
  color: white;
  transition: all 0.5s;
  border: 2px solid black;
}

.wrapper-title.addmore_detail {
  margin: 0;
  margin-left: 70px;
  text-align: left;
}

.wrapper-title.addmore_detail h1 {
  margin-bottom: 24px;
}

.wrapper-title.addmore_detail p {
  margin-bottom: 20px;
}

section.aboutus_deatil {
  padding: 80px 0;
}

ul.Enhance-content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Enhance-title.achieve_dream h2 {
  margin-bottom: 50px !important;
}

.wrapper-title h1.help-brands:after {
  left: 50px !important;
}

.li_achieve {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.expe_newhead.Courioer p {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.business_para {
  width: 80%;
}

ul.Enhance-content li {
  background: #e5ecf8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul.Enhance-content {
  height: 50vh;
  overflow-y: auto !important;
  padding-left: 100px;
}

section.Enhance-customer.acieve_section {
  padding: 100px 0;
}

#style_1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
}

#style_1::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}

#style_1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #ffffff(0, 0, 0, 0.3);
  background-color: #ffffff;
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
  .about-Banner-section .about-Banner-dec h2 {
    font-size: 46px !important;
  }

  .wrapper-title h1 {
    font-size: 41px !important;
  }

  .team-section .team-head h1 {
    font-size: 50px !important;
  }

  section.experience {
    padding: 70px 0 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .about-delivery .about-delivery-dec h1 {
    font-size: 44px;
  }
}

@media only screen and (max-width: 1024px) {
  ul.Enhance-content {
    padding-left: 50px;
  }

  .expe_newhead {
    margin-left: 14px;
  }
  .about-Banner-section .about-Banner-dec h2 {
    font-size: 40px !important;
  }

  .about-Banner-section .about-Banner-dec p {
    width: 100%;
  }

  .Enhance-customer .Enhance-inner .Enhance-title h2 {
    font-size: 40px !important;
    margin-bottom: 30px !important;
  }

  .wrapper-title h1 {
    font-size: 36px !important;
  }

  .experience_heading h2 {
    font-size: 26px !important;
  }

  .expe_newhead h4 {
    font-size: 22px !important;
  }

  .team-section .team-head h1 {
    font-size: 42px !important;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 575px) {
  .wrapper-title h1::after {
    display: none;
  }

  .Enhance-img.text-center {
    margin-bottom: 30px;
  }

  ul.Enhance-content {
    padding-left: 0px;
  }

  section.Enhance-customer.acieve_section {
    padding: 50px 0;
  }

  .about-delivery .about-delivery-dec {
    width: 100%;
    margin-bottom: 20px;
  }

  section.experience {
    padding: 40px 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .about-delivery .about-delivery-dec h1 {
    font-size: 38px;
  }

  .about-delivery .about-delivery-dec h1 span::after {
    display: none;
  }

  .wrapper-title h1 {
    font-size: 30px !important;
  }

  .about-Banner-section .about-Banner-dec h2 {
    font-size: 34px !important;
  }
}

@media only screen and (max-width: 414px) {
  .Enhance-customer .Enhance-inner .Enhance-title h2 {
    font-size: 36px !important;
  }

  ul.Enhance-content {
    padding-left: 0;
  }

  ul.Enhance-content {
    padding-left: 0;
  }

  .wrapper-title h1 {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 390px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 350px) {
  .about-delivery .about-delivery-dec h1 {
    font-size: 33px;
  }
}
