/* about-header */
.sec-header-wrap {
  position: absolute;
  width: 100%;
}

.about-Banner-section .row.justify-content-center {
  position: relative;
  z-index: 9;
}

/* about-banner */
.about-Banner-section {
  position: relative;
  /* background-image: url(..//img/about-us/about-us-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-Banner-section .about-Banner-dec {
  text-align: center;
}

.about-Banner-section .about-Banner-dec h2 {
  color: #070330;
  font-family: ProductSans-Bold;
  font-size: 54px;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

.about-Banner-section .about-Banner-dec h2 span {
  color: #3626f1;
}

.about-Banner-section .about-Banner-dec p {
  color: #261335;
  font-size: 22px;
  line-height: 28px;
  width: 80%;
  margin: 30px auto 0px;
}

.about-Banner-section #scroll-down-animation {
  bottom: 0px;
}

/* about-delivery */
.about-delivery {
  padding: 60px 0px;
}

.about-delivery .about-delivery-dec {
  width: 90%;
}

.about-delivery .about-delivery-dec h1 {
  color: #070330;
  font-family: Cambon-SemiBold;
  font-size: 48px;
  margin-bottom: 14px;

  display: inline-block;
  z-index: 9;
}

.about-delivery .about-delivery-dec h1 span {
  position: relative;
  color: #3626f1;
}

.about-delivery .about-delivery-dec h1 span::after {
  content: "";
  position: absolute;
  background-image: url(..//img/text-underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: -12px;
  bottom: -45px;
  width: 160px;
  height: 100%;
  z-index: -1;
}

.about-delivery .about-delivery-dec p {
  color: #534064;
  font-size: 18px;
  margin-bottom: 0px;
}

.about-delivery .about-delivery-video {
  display: contents;
}

/* business-services */
.business-services {
  padding: 60px 0px;
}

.business-services .wrapper-shipping {
  padding-top: 60px;
}

.business-services .wrapper-shipping .wrapper-shipping-box {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 70px 100px 0px rgba(25, 4, 99, 0.13);
  padding: 30px;
}

.business-services .wrapper-shipping .wrapper-shipping-box h3 {
  color: #050020;
  font-size: 26px;
  font-family: ProductSans-Bold;
  margin-top: 20px;
  margin-bottom: 14px;
}

.business-services .wrapper-shipping .wrapper-shipping-box ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 28px;
  min-height: 124px;
  padding-left: 0px;
  list-style: none;
}

.business-services .wrapper-shipping .wrapper-shipping-box ul li {
  color: #8f8f8f;
  font-size: 18px;
  padding-left: 32px;
  position: relative;
}

.business-services .wrapper-shipping .wrapper-shipping-box ul li::after {
  background: url(..//img/tickBlue.svg) no-repeat 50% / contain;
  content: "";
  display: block;
  height: 20px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.business-services .wrapper-shipping .wrapper-shipping-box a {
  color: #3626f1;
  font-size: 18px;
  font-family: ProductSans-Bold;
}

/* new css */
.wrapper-title {
  margin-bottom: 20px;
}

section.experience {
  padding: 100px 0;
}

ul.expe_detail {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 50px;
}

ul.expe_detail li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.expe_newhead {
  margin-left: 20px;
}

.expe_newhead h4 {
  color: #050020;
  font-size: 26px;
  font-family: ProductSans-Bold;
  margin-top: 0px;
  margin-bottom: 6px;
}

.expe_newhead p {
  margin-bottom: 0;
}

.readmore_btn.text-center {
  margin: 50px 0px 0;
}

.readmore_btn.text-center a {
  border: 2px solid #3726f1a3;
  background-color: #3726f1;
  padding: 14px 40px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: normal;
  transition: all 0.5s;
}

section.team-section.new_team {
  padding-bottom: 100px;
}

.readmore_btn.text-center a:hover {
  background: #ffffff;
  color: #3726f1;
  transition: all 0.5s;
  border: 2px solid #3626f1;
}

.learn_more a {
  border: 2px solid #3726f1a3;
  padding: 14px 40px;
  border-radius: 30px;
  color: #000000bc;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: normal;
  transition: all 0.5s;
}

.learn_more a:hover {
  background: black;
  color: white;
  transition: all 0.5s;
  border: 2px solid black;
}

.wrapper-title.addmore_detail {
  margin: 0;
  margin-left: 70px;
  text-align: left;
}

.wrapper-title.addmore_detail h1 {
  margin-bottom: 24px;
}

.wrapper-title.addmore_detail p {
  margin-bottom: 20px;
}

section.aboutus_deatil {
  padding: 80px 0;
}

ul.Enhance-content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Enhance-title.achieve_dream h2 {
  margin-bottom: 50px !important;
}

.wrapper-title h1.help-brands:after {
  left: 50px !important;
}

.li_achieve {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.expe_newhead.Courioer p {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.business_para {
  width: 80%;
}

ul.Enhance-content li {
  background: #e5ecf8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul.Enhance-content {
  height: 50vh;
  overflow-y: auto !important;
  padding-left: 100px;
}

section.Enhance-customer.acieve_section {
  padding: 100px 0;
}

#style_1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
}

#style_1::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}

#style_1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #ffffff(0, 0, 0, 0.3);
  background-color: #ffffff;
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
  .about-Banner-section .about-Banner-dec h2 {
    font-size: 46px !important;
  }

  .wrapper-title h1 {
    font-size: 41px !important;
  }

  .team-section .team-head h1 {
    font-size: 50px !important;
  }

  section.experience {
    padding: 70px 0 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .about-delivery .about-delivery-dec h1 {
    font-size: 44px;
  }
}

@media only screen and (max-width: 1024px) {
  ul.Enhance-content {
    padding-left: 50px;
  }

  .expe_newhead {
    margin-left: 14px;
  }

  .about-Banner-section .about-Banner-dec h2 {
    font-size: 40px !important;
  }

  .about-Banner-section .about-Banner-dec p {
    width: 100%;
  }

  .Enhance-customer .Enhance-inner .Enhance-title h2 {
    font-size: 40px !important;
    margin-bottom: 30px !important;
  }

  .wrapper-title h1 {
    font-size: 36px !important;
  }

  .experience_heading h2 {
    font-size: 26px !important;
  }

  .expe_newhead h4 {
    font-size: 22px !important;
  }

  .team-section .team-head h1 {
    font-size: 42px !important;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 575px) {
  .wrapper-title h1::after {
    display: none;
  }

  .Enhance-img.text-center {
    margin-bottom: 30px;
  }

  ul.Enhance-content {
    padding-left: 0px;
  }

  section.Enhance-customer.acieve_section {
    padding: 50px 0;
  }

  .about-delivery .about-delivery-dec {
    width: 100%;
    margin-bottom: 20px;
  }

  section.experience {
    padding: 40px 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .about-delivery .about-delivery-dec h1 {
    font-size: 38px;
  }

  .about-delivery .about-delivery-dec h1 span::after {
    display: none;
  }

  .wrapper-title h1 {
    font-size: 30px !important;
  }

  .about-Banner-section .about-Banner-dec h2 {
    font-size: 34px !important;
  }
}

@media only screen and (max-width: 414px) {
  .Enhance-customer .Enhance-inner .Enhance-title h2 {
    font-size: 36px !important;
  }

  ul.Enhance-content {
    padding-left: 0;
  }

  ul.Enhance-content {
    padding-left: 0;
  }

  .wrapper-title h1 {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 390px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 350px) {
  .about-delivery .about-delivery-dec h1 {
    font-size: 33px;
  }
}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Paper Plane
 */
/*Paper Plane: Container*/
.plane-container {
  width: 200px;
  margin: 0px auto;
  z-index: 3;
}

/*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/
.plane-container {
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}

@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}

/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }

  10% {
    opacity: 0.7;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

/* round animation */
.experience_main_img {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  height: 560px;
  overflow: hidden;
}

.main {
  margin: 0px auto;
  width: 480px;
  height: 480px;
  position: relative;
}

.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 3px solid #3626f1;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}

.icon-block {
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-image: linear-gradient(180deg, #4967e6 0%, #627bf4 100%);
  -webkit-background-image: linear-gradient(180deg, #4967e6 0%, #627bf4 100%);
  box-shadow: 0 2px 4px 0 #3e5ada;
  -webkit-box-shadow: 0 2px 4px 0 #3e5ada;
}

.icon-block img {
  margin: 0px auto;
  width: 86%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}

.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* circle content */
.circle {
  animation: circle-rotate 20s linear infinite;
  -webkit-animation: circle-rotate 20s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 75%;
  height: 75%;
  border: 3px solid #3626f1;
  border-radius: 50%;
}

.circle .icon-block img {
  animation: img-rotate 20s linear infinite;
  -webkit-animation: img-rotate 20s linear infinite;
}

/* center logo */
.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.center-logo img {
  max-width: 400px;
}

/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes circle-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes img-rotate {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes img-rotate {
  from {
    -webkit-transform: rotate(-45deg);
  }

  to {
    -webkit-transform: rotate(-405deg);
  }
}
