.headerOne.gradientBanner {
  background: transparent linear-gradient(244deg, #fde6cd, #ebebff) 0 0
    no-repeat padding-box;
  background-position: bottom;
  z-index: 0;
  padding: 180px 0 160px;
  margin-top: -155px;
  overflow: hidden;
  position: relative;
}

.company-card-content.text-center h1 {
  font-size: 40px !important;
}

.headerOne.gradientBanner:before {
  content: "";
  position: absolute;
  background: #fff 0 0 no-repeat padding-box;
  opacity: 1;
  filter: blur(50px);
  width: 120%;
  height: 20%;
  top: -60px;
  z-index: 1;
}

.headerOne.gradientBanner:after {
  transform: rotate(-3deg);
  bottom: -50px;
  right: -5px;
  z-index: 0;
  width: 102%;
  height: 100px;
  background: linear-gradient(
    0deg,
    #d2ddf3 -14.39%,
    rgba(226, 234, 247, 0.67) 47.39%,
    rgba(255, 255, 255, 0.1) 97.67%
  );
  position: absolute;
  content: "";
}

.ShippingFromBanner .fontSize72 {
  margin-bottom: 15px;
  margin-top: 30px;
  color: #0a0753;
  font-size: 72px;
  line-height: 76px;
  z-index: 3;
}

.ShippingFromBanner .fontSize18 {
  line-height: 28px;
  margin-bottom: 30px;
  color: #575757;
  font-size: 18px;
}

.blueBtn {
  background: #3626f1;
  box-shadow: 0 24px 48px #4429be3c;
  border-radius: 10px;
  border: 1px solid #3626f1;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 18px 48px;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.blueBtn:hover {
  background: #fff;
  color: #3626f1;
}

.srxPricingCalc.srxHome.Section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.srxPricingCalc.srxHome .row .contentWrapper {
  flex-basis: 40%;
}

.srxPricingCalc.srxHome .row {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.srxPricingCalc.srxHome .row:before {
  content: "";
  position: absolute;
  background-image: url(../img/international-shipping/curve-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 190px;
  height: 140px;
  bottom: 10%;
  left: 34%;
}

.contentWrapper .headingText {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 10px;
  font-weight: 700;
}

.srxPricingCalc.srxHome .row .contentWrapper span.rateLabel {
  letter-spacing: 0.48px;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  position: relative;
  padding: 10px 40px;
  margin-top: 30px;
  display: inline-block;
  z-index: 2;
}

.srxPricingCalc.srxHome .row .contentWrapper span.rateLabel:before {
  content: "";
  position: absolute;
  background: transparent linear-gradient(283deg, #3626f1, #1d113e) 0 0
    no-repeat padding-box;
  border-radius: 5px;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.srxPricingCalc.srxHome .calcDivWrapper {
  display: flex;
  align-items: center;
  margin: 0;
  flex-basis: 50%;
  background: #fff 0 0 no-repeat padding-box;
  box-shadow: 4px 8px 40px #6f5bdd0d;
  border-radius: 16px;
}

.srxPricingCalc.srxHome .calcWrapperPricing {
  width: 100%;
  padding: 30px 40px;
}

.srxPricingCalc.srxHome .calcWrapperPricing h3 {
  letter-spacing: 0;
  color: #0a0753;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.srxPricingCalc.srxHome .calcComponentStyle {
  margin-top: 20px;
}

.srxPricingCalc.srxHome .calcComponentStyle .intForm {
  padding: 0;
}

.srxPricingCalc.srxHome .calcComponentStyle .intForm .innerDiv {
  flex-direction: column;
  gap: 20px;
}

.srxPricingCalc.srxHome .formSide {
  display: flex;
  flex-flow: wrap;
  gap: 25px 20px;
}

.srxPricingCalc.srxHome .formSide div:nth-child(odd) {
  flex-basis: calc(50% - 10px);
  margin: 0;
}

.srxPricingCalc.srxHome .formSide div:nth-child(2n) {
  flex-basis: calc(50% - 10px);
  margin: 0;
}

.srxPricingCalc.srxHome .calcWrapperPricing .dimensions,
.srxPricingCalc.srxHome .calcWrapperPricing .domesticWeight,
.srxPricingCalc.srxHome .calcWrapperPricing .internationalButton {
  flex-basis: 100% !important;
}

.calcComponentStyle .domesticForm > div:first-child,
.calcComponentStyle .domesticWeight > div,
.calcComponentStyle .intForm > div:first-child {
  display: flex;
}

.srxPricingCalc.srxHome .calcComponentStyle label {
  letter-spacing: 0;
  color: #4c4c4c;
  opacity: 1;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
  display: inline-block;
}

.srxPricingCalc.srxHome .calcComponentStyle input,
.srxPricingCalc.srxHome .calcComponentStyle select {
  letter-spacing: 0;
  color: #4c4c4c;
  opacity: 1;
  font-size: 12px;
  line-height: 14px;
  padding: 11px 17px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 6px;
  width: 100%;
}

.srxPricingCalc.srxHome .calcComponentStyle .domesticWeight > div span {
  display: inline-block;
  padding: 10px 16px;
  line-height: 14px;
  letter-spacing: 0.24px;
  color: #a9b0bc;
  opacity: 1;
  background: #f3f7fe 0 0 no-repeat padding-box;
  border-radius: 0 5px 5px 0;
}

.calcComponentStyle .dimensions div {
  display: flex;
  align-items: center;
}

.srxPricingCalc.srxHome .calcComponentStyle .dimensions > div input {
  width: 33.33333%;
  margin-right: 15px;
  padding: 11px 10px 11px 17px;
}

.srxPricingCalc.srxHome .calcComponentStyle .dimensions > div p {
  margin: 0;
  margin-right: 15px;
}

.srxPricingCalc.srxHome .calcComponentStyle .dimensions > div input:last-child {
  display: inline-block;
  padding: 10px 16px;
  line-height: 14px;
  letter-spacing: 0.24px;
  color: #a9b0bc;
  opacity: 1;
  background: #f3f7fe 0 0 no-repeat padding-box;
  border-radius: 5px;
  margin: 0;
  width: 52px;
}

.srxPricingCalc.srxHome .calcComponentStyle button {
  padding: 16px 61px;
  margin-top: 15px;
  letter-spacing: 0.36px;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  background: #3626f1;
  border: 1px solid #00000000;
  border-radius: 6px;
  cursor: pointer;
}

.curveLogoPostion.srx.darkBg {
  background-color: #1d113e;
  padding: 100px 0;
  background-image: url(../img/international-shipping/map-globe-1.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.curveLogoPostion.srx.darkBg .contentWrapper {
  padding: 0;
  /* max-width: 775px; */
}

.curveLogoPostion.srx.darkBg .contentWrapper h2 {
  color: #fff;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
}

.clienLogoSection.curveLogoPostion.srx .contentWrapper h2 span {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.curveLogoPostion.srx.darkBg .contentWrapper p {
  color: #fff;
  text-transform: none;
  line-height: 28px;
  letter-spacing: 1.6px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.clienLogoSection.curveLogoPostion ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
}

.clienLogoSection.curveLogoPostion ul li {
  background: #fff 0 0 no-repeat padding-box;
  box-shadow: -10px 20px 30px #38383812;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 70px;
  padding: 2rem;
  align-items: center;
}

.Section.srxRightContent {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.Section.srxRightContent .imageWrapper img {
  border-radius: 20px;
}

.contentWrapper .headingText {
  color: #3626f1;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 10px;
  font-weight: 700;
}

.srxRightContent .content {
  margin-top: 30px;
  letter-spacing: 0.36px;
  line-height: 30px;
  font-size: 18px;
  color: #5a5a5a;
}

.Section.srxLeftContentRightImage {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.srxLeftContentRightImage .row .contentWrapper.pr-3 {
  padding-right: 35px;
}

.srxLeftContentRightImage .row .contentWrapper h3 {
  letter-spacing: 0.36px;
  color: #3626f1;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 10px;
  font-weight: 500;
}

.contentWrapper .headingText {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 10px;
  color: #0a0753;
}

.srxLeftContentRightImage .row .contentWrapper p {
  margin-top: 20px;
  line-height: 28px;
  letter-spacing: 0.36px;
  font-size: 18px;
  color: #5a5a5a;
}

.leftContentRightVideo .videoAndContentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContentRightVideo .videoAndContentWrapper .contentWrapper {
  flex-basis: 50%;
}

.contentWrapper h3.headingText {
  letter-spacing: 0;
  color: #1d113e;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

.leftContentRightVideo .videoAndContentWrapper .videoWrapper {
  flex-basis: 50%;
  text-align: center;
}

.videoAndContentWrapper .content {
  max-width: 500px;
}

@media (max-width: 991px) {
  .ShippingFromBanner .fontSize72 {
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
  }

  .clienLogoSection.curveLogoPostion ul li {
    width: 45%;
    margin: 10px;
  }

  .srxPricingCalc.srxHome.Section,
  .Section.srxRightContent,
  .Section.srxLeftContentRightImage {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .srxPricingCalc.srxHome .row {
    flex-direction: column;
    gap: 20px;
  }

  .srxPricingCalc.srxHome .row:before {
    content: none;
  }

  .srxPricingCalc.srxHome .calcWrapperPricing {
    padding: 30px 0px;
  }

  Section.ShippingFromBanner.gradientBanner .row {
    gap: 30px;
  }

  .Banner-section .banner-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .srxPricingCalc.srxHome .calcWrapperPricing h3 {
    font-size: 25px;
  }

  .contentWrapper .headingText {
    font-size: 27px;
    line-height: 33px;
  }

  .srxLeftContentRightImage .row .contentWrapper p {
    font-size: 16px;
  }

  .curveLogoPostion.srx.darkBg .contentWrapper h2 {
    line-height: 36px;
  }

  .clienLogoSection.curveLogoPostion.srx .contentWrapper h2 span {
    font-size: 40px;
    line-height: 0px;
  }

  .curveLogoPostion.srx.darkBg {
    padding: 60px 0px;
  }

  .leftContentRightVideo .videoAndContentWrapper {
    flex-direction: column;
  }

  .leftContentRightVideo .videoAndContentWrapper .contentWrapper {
    padding-right: 0px;
  }

  .Banner-section .banner-img img {
    max-width: 100%;
  }
}

@media (max-width: 568px) {
  .curveLogoPostion.srx.darkBg .contentWrapper h2 {
    line-height: 36px;
  }

  .clienLogoSection.curveLogoPostion.srx .contentWrapper h2 span {
    font-size: 26px;
    line-height: 0px;
  }

  .contentWrapper h3.headingText {
    font-size: 27px;
    line-height: 32px;
  }
}

@media (max-width: 425px) {
  .clienLogoSection.curveLogoPostion ul li {
    width: 100%;
    margin: 10px;
  }
}

.company-card .company-card-inner {
  border-radius: 20px;
  background: #fff;
  backdrop-filter: blur(1.8734697103500366px);
  background-image: url(..//img/company-card-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: transparent linear-gradient(244deg, #ffd9af, #adadf7) 0 0 no-repeat padding-box; */
}

.company-card-content {
  border-radius: 25px;
  background-image: url(../img/international-shipping/map-globe-1.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

/* new css 21/10/2023 */
.section-hero {
  /* background-color: #fdf2e9; */
  padding: 8.4rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
  gap: 0 9.6rem;
}

.heading-primary {
  font-size: 3.1rem;
  color: #070330;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.hero-description {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.hero-img-box {
  grid-column: 2/3;
  grid-row: 1 / 3;
}

.hero-img {
  width: 100%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  text-decoration: none;

  transition: background-color 500ms;
}

.btn--fill:link,
.btn--fill:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}

.btn--fill:hover,
.btn--fill:active {
  background-color: #cf711f;
  text-decoration: underline;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0px 0px 0px 3px #fff;
  text-decoration: underline;
}

.margin-right-btn {
  margin-right: 2.4rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-top: 3rem;
}

.delivered-imgs img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  outline: #fdf2e9 solid 3px;
}

.delivered-text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.delivered-text span {
  color: #3626f1;
}

@media (max-width: 1024px) {
  .section-hero {
    padding: 4.4rem 0 4.4rem 0;
  }

  .hero {
    padding: 0;
    gap: 0;
  }
}

@media (max-width: 991px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .heading-primary {
    font-size: 3.5rem;
  }
}

@media (max-width: 767px) {
  .section-hero {
    padding: 2rem 0 2rem 0;
  }

  .heading-primary {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
  }

  .blueBtn {
    font-size: 20px;
    padding: 8px 18px;
  }

  .delivered-meals {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 425px) {
  .section-hero {
    padding: 2rem 0 2rem 0;
  }

  .heading-primary {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
  }

  .blueBtn {
    font-size: 20px;
    padding: 8px 18px;
  }

  .delivered-meals {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .company-card .company-card-inner .company-card-content h1 {
    font-size: 48px !important;
  }
}

@media (max-width: 991px) {
  .ShippingFromBanner .fontSize72 {
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
  }

  .clienLogoSection.curveLogoPostion ul li {
    width: 45%;
    margin: 10px;
  }

  .srxPricingCalc.srxHome.Section,
  .Section.srxRightContent,
  .Section.srxLeftContentRightImage {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .srxPricingCalc.srxHome .row {
    flex-direction: column;
    gap: 20px;
  }

  .srxPricingCalc.srxHome .row:before {
    content: none;
  }

  .srxPricingCalc.srxHome .calcWrapperPricing {
    padding: 30px 0px;
  }

  Section.ShippingFromBanner.gradientBanner .row {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .company-card .company-card-inner .company-card-content h1 {
    font-size: 30px !important;
  }

  .srxPricingCalc.srxHome .calcWrapperPricing h3 {
    font-size: 25px;
  }

  .contentWrapper .headingText {
    font-size: 27px;
    line-height: 33px;
  }

  .srxLeftContentRightImage .row .contentWrapper p {
    font-size: 16px;
  }

  .curveLogoPostion.srx.darkBg .contentWrapper h2 {
    line-height: 36px;
  }

  .clienLogoSection.curveLogoPostion.srx .contentWrapper h2 span {
    font-size: 40px;
    line-height: 50px !important;
  }

  .curveLogoPostion.srx.darkBg {
    padding: 60px 0px;
  }

  .leftContentRightVideo .videoAndContentWrapper {
    flex-direction: column;
  }

  .leftContentRightVideo .videoAndContentWrapper .contentWrapper {
    padding-right: 0px;
  }
}

@media (max-width: 568px) {
  section.srxPricingCalc.srxHome.Section {
    padding: 60px 10px;
  }

  .curveLogoPostion.srx.darkBg .contentWrapper h2 {
    line-height: 36px;
  }

  .clienLogoSection.curveLogoPostion.srx .contentWrapper h2 span {
    font-size: 26px;
    line-height: 0px;
  }

  .contentWrapper h3.headingText {
    font-size: 27px;
    line-height: 32px;
  }
}

@media (max-width: 425px) {
  .clienLogoSection.curveLogoPostion ul li {
    width: 100%;
    margin: 10px;
  }
}

.company-card .company-card-inner {
  border-radius: 20px;
  background: #fff;
  backdrop-filter: blur(1.8734697103500366px);
  background-image: url(..//img/company-card-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: transparent linear-gradient(244deg, #ffd9af, #adadf7) 0 0 no-repeat padding-box; */
}

.banner-img.overflow-hidden img {
  max-width: 90%;
}

.banner-img.overflow-hidden {
  text-align: center;
}

.company-card-content {
  border-radius: 25px;
  background-image: url(../img/international-shipping/map-globe-1.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media (max-width: 991px) {
  .ShippingFromBanner .fontSize72 {
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
  }

  .clienLogoSection.curveLogoPostion ul li {
    width: 45%;
    margin: 10px;
  }

  .srxPricingCalc.srxHome.Section,
  .Section.srxRightContent,
  .Section.srxLeftContentRightImage {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .srxPricingCalc.srxHome .row {
    flex-direction: column;
    gap: 20px;
  }

  .srxPricingCalc.srxHome .row:before {
    content: none;
  }

  .srxPricingCalc.srxHome .calcWrapperPricing {
    padding: 30px 0px;
  }

  Section.ShippingFromBanner.gradientBanner .row {
    gap: 30px;
  }

  .Banner-section .banner-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .srxPricingCalc.srxHome .calcWrapperPricing h3 {
    font-size: 25px;
  }

  .contentWrapper .headingText {
    font-size: 27px;
    line-height: 33px;
  }

  .srxLeftContentRightImage .row .contentWrapper p {
    font-size: 16px;
  }

  .curveLogoPostion.srx.darkBg .contentWrapper h2 {
    line-height: 36px;
  }

  .clienLogoSection.curveLogoPostion.srx .contentWrapper h2 span {
    font-size: 40px;
    line-height: 0px !important;
  }

  .curveLogoPostion.srx.darkBg {
    padding: 60px 0px;
  }

  .leftContentRightVideo .videoAndContentWrapper {
    flex-direction: column;
  }

  .leftContentRightVideo .videoAndContentWrapper .contentWrapper {
    padding-right: 0px;
  }

  .Banner-section .banner-img img {
    max-width: 100%;
  }
}

@media (max-width: 568px) {
  .curveLogoPostion.srx.darkBg .contentWrapper h2 {
    line-height: 36px;
  }

  .clienLogoSection.curveLogoPostion.srx .contentWrapper h2 span {
    font-size: 26px;
    line-height: 0px;
  }

  .contentWrapper h3.headingText {
    font-size: 27px;
    line-height: 32px;
  }
}

@media (max-width: 425px) {
  .clienLogoSection.curveLogoPostion ul li {
    width: 100%;
    margin: 10px;
  }
}

.company-card .company-card-inner {
  border-radius: 20px;
  background: #fff;
  backdrop-filter: blur(1.8734697103500366px);
  background-image: url(..//img/company-card-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: transparent linear-gradient(244deg, #ffd9af, #adadf7) 0 0 no-repeat padding-box; */
}

.company-card-content {
  border-radius: 25px;
  background-image: url(../img/international-shipping/map-globe-1.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

/* new */

.area {
  /* background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
   */
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(255, 255, 255, 0.2); */
  background: #0000ff36;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* New CSS Start */
.tab_nav_section {
  padding: 60px 0px;
}

.tab_nav_section .heading-primary span {
  color: #3626f1;
}

.tab_nav_section .nav-tabs {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
}

.tab_nav_section .nav-tabs li {
  margin: 10px;
}

.tab_nav_section .nav-tabs a {
  background-color: transparent;
  border-radius: 12px;
  padding: 12px;
  border: 2px solid #3626f1;
  color: #3626f1;
  font-size: 14px;
  font-family: ProductSans-Bold;
  display: flex;
  align-items: center;
  transition: all 2s;
}

.tab_nav_section .nav-tabs a:hover {
  background-color: #3626f1;
  color: #fff;
}

.tab_nav_section .nav-tabs a.active {
  background-color: #3626f1;
  color: #fff;
}

.tab_nav_section .tab-content {
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin: 10px;
  height: 100%;
  width: 100%;
}

.tab_nav_section .tab-content img {
  max-width: 100%;
}

.tab_nav_section .tab-content:nth-child(2) {
  display: none;
}

.tab_nav_section .tab-content:nth-child(3) {
  display: none;
}

@media (max-width: 991px) {
  .tab_nav_section .row:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .tab_nav_section .heading-primary {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .tab_nav_section .heading-primary {
    font-size: 26px;
  }

  .tab_nav_section .nav-tabs li {
    margin: 10px 0px;
  }

  .tab_nav_section .tab-content {
    padding: 10px 0px;
    margin: 10px 0px;
  }

  .tab_nav_section {
    padding: 40px 0px;
  }
}

/* New CSS Start */
.section-hero .hero-img-box {
  position: relative;
  overflow: hidden;
  width: 120%;
}

.section-hero .hero-img-box .hover-images {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  animation: shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.tab-content .nav_and_tab {
  position: relative;
  overflow: hidden;
}

.tab-content .nav_and_tab .nav_and_tab-hover {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
  /* transform: translate(-50%,-50%); */
  animation: moveclouds 5s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}

.tab-content .nav_and_tab .nav_and_tab-hover-re {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
  /* transform: translate(-50%,-50%); */
  animation: moveclouds-re 5s linear infinite;
}

@-webkit-keyframes moveclouds-re {
  0% {
    margin-left: -1000px;
  }

  100% {
    margin-left: 1000px;
  }
}

.videoAndContentWrapper .videoWrapper {
  position: relative;
  overflow: hidden;
  flex-basis: unset !important;
}

.videoAndContentWrapper .videoWrapper .hover-images {
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 100%; */
  animation: shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@media (max-width: 991px) {
  .leftContentRightVideo .videoAndContentWrapper {
    flex-direction: column;
  }

  .videoAndContentWrapper .videoWrapper .hover-images {
    width: 100%;
  }

  .leftContentRightVideo .videoAndContentWrapper .videoWrapper {
    flex-basis: 100% !important;
  }
}

.Section.srxRightContent .imageWrapper {
  position: relative;
  overflow: hidden;
}

.Section.srxRightContent .imageWrapper .hover-images {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  animation: shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

.section-hero .hero-img-box {
  position: relative;
  overflow: hidden;
}

.section-hero .hero-img-box .hover-images {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  animation: shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.tab-content .nav_and_tab {
  position: relative;
  overflow: hidden;
}

.tab-content .nav_and_tab .nav_and_tab-hover {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
  /* transform: translate(-50%,-50%); */
  animation: moveclouds 5s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: -1000px;
  }
}

.tab-content .nav_and_tab .nav_and_tab-hover-re {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
  /* transform: translate(-50%,-50%); */
  animation: moveclouds-re 5s linear infinite;
}

@-webkit-keyframes moveclouds-re {
  0% {
    margin-left: -1000px;
  }

  100% {
    margin-left: 1000px;
  }
}

.videoAndContentWrapper .videoWrapper {
  position: relative;
  overflow: hidden;
  flex-basis: unset !important;
}

.videoAndContentWrapper .videoWrapper .hover-images {
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 100%; */
  animation: shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@media (max-width: 991px) {
  .leftContentRightVideo .videoAndContentWrapper {
    flex-direction: column;
  }

  .videoAndContentWrapper .videoWrapper .hover-images {
    width: 100%;
  }

  .leftContentRightVideo .videoAndContentWrapper .videoWrapper {
    flex-basis: 100% !important;
  }
}

.Section.srxRightContent .imageWrapper {
  position: relative;
  overflow: hidden;
}

.Section.srxRightContent .imageWrapper .hover-images {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  animation: shake 10s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

.hero-text-box h1.heading-primary.international {
  margin-bottom: 60px;
}

h1.heading-primary.Several {
  margin-bottom: 20px;
  font-size: 38px;
}
